@import url("../../atoms/radioButton/radioButton.css");
@import url("../../atoms/icon/icon.css");
@import url("../../atoms/label/label.css");

.gender-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

input[name="gender"] {
    position: absolute;
    opacity: 0;
}

input[name="gender"] + i {
    color: var(--icon-background-color);
    margin-right: 0.5em;
    border-radius: 50%;
    background-color: var(--icon-background-color);
}

input[name="gender"]:checked + i {
    background-color: var(--icon-text-color);
    box-shadow: 0 0 12px blue;
    background-color: var(--icon-text-color);

}

input[name="gender"] ~ label {
    background-color: unset;
}