button {
    border: none;
    background-color: var(--icon-background-color);
    color: var(--icon-text-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    padding: 1.2em 1em;
}