<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signin Page</title>
    <script
      src="https://kit.fontawesome.com/bfb1d3dd5a.js" crossorigin="anonymous" ></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/components/pages/signin.css">
</head>
<body>
    <script src="../pages/signinPage.js" defer type="module"></script>
</body>
</html>